@keyframes title-screen {
  0%,
  80% {
    background: white;
    /* opacity: 1; */
    pointer-events: auto;
  }
  100% {
    background: #fff0;
    /* opacity: 0; */
    pointer-events: none;
  }
}

@keyframes fade-to-left {
  0%,
  50% {
    position: relative;
    left: 0;
    opacity: 1;
  }
  90%,
  100% {
    position: relative;
    left: -2rem;
    opacity: 0;
  }
}
